### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/AdaptiveEEGTraining.iws
/AdaptiveEEGTraining.ipr
node_modules
cylon-mindflex
browser.js
# Created by .ignore support plugin (hsz.mobi)

logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
/bin/
/logs/
/.cache
/project/activator-sbt-eclipse-shim.sbt
/project/activator-sbt-idea-shim.sbt
/.sbtserver
/project/.sbtserver
/build.sbt
/project/sbt-ui.sbt
/project/play-fork-run.sbt
src/node_modules
*.log
*.db

