### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/AdaptiveEEGTraining.iws
/AdaptiveEEGTraining.ipr
node_modules
browser.js
# Created by .ignore support plugin (hsz.mobi)
